@require(name)
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <Filter Include="sample">
      <UniqueIdentifier>{5a310b75-9a16-48f0-967d-3fd3cd6190c0}</UniqueIdentifier>
    </Filter>
  </ItemGroup>
  <ItemGroup>
    <ClCompile Include="$(SolutionDir)..\sources\samples\sample_@{name}.cpp">
      <Filter>sample</Filter>
    </ClCompile>
  </ItemGroup>
</Project>